<mat-card>
  <mat-card-title>Categories</mat-card-title>
  <mat-card-content>
    <mat-list role="list" fxLayout="row">
      <mat-list-item
        role="listitem"
        *ngFor="let item of categories$ | async"
        [routerLink]="'/products/'+item"
      >
        {{ item }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<div class="card shadow m-4 p-4">
  <h2>Products</h2>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let item of products$ | async"
      >{{ item.title }} {{ item.price }}</mat-list-item
    >
  </mat-list>
</div>
